
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

/* .slick-prev, .slick-next {
    background-color: #ff5733;
    border-radius: 50%; 
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.75; 
    transition: opacity 0.3s;
  } */
